*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#sidebar{
    float: left;
    width: 25%;
    padding: 10px;
}
#main{
    border-left: 1px solid #ccc;
    width: 75%;
    padding: 15px;
    margin-left: 25%;
}